<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>D.O.T</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />
  <script src='bower_components/jquery/dist/jquery.min.js'></script>
  <script src='bower_components/moment/min/moment.min.js'></script>
  <script src='bower_components/fullcalendar/dist/fullcalendar.js'></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>

  <div class="head">
    <h1>N.Y.C. Department of Transportation<br/>
    Calendar
    </h1>

    <img class="logo" src="http://www.facsware.com/wp-content/uploads/2015/02/NYCDOT.png">
  </div>
  <div id='calendar'></div>



</body>
</html>