<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>D.O.T</title>
  <script src="/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <label for="email">Email: </label>
  <input type="text" class="email">
  <label for="password">Password: </label>
  <input type="text" class="password">
  <input type="submit" text="submit">
</body>
</html>