<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>D.O.T</title>
  <script src="/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div class="head">
    <h1>N.Y.C. Department of Transportation</h1>
    <img class="logo" src="http://www.facsware.com/wp-content/uploads/2015/02/NYCDOT.png"><br/>
  </div>

  <h2>Login In</h2>

  <label for="email">Email: </label>
  <input type="text" class="email">
  <label for="password">Password: </label>
  <input type="text" class="password">
  <input type="submit" text="submit">

</body>
</html>