<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>D.O.T</title>
  <script src="/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div class="head">
    <h1>N.Y.C. Department of Transportation</h1>
    <img class="logo" src="http://www.facsware.com/wp-content/uploads/2015/02/NYCDOT.png">
    <a href="/">Home</a><br/>
  </div>

  <div class="basic-info">
    <h2>Login In</h2><br/>
    <form action="/login" method="POST">
      <label for="email">Email: </label>
      <input type="text" class="email"><br/>
      <label for="password">Password: </label>
      <input type="password" class="password"><br/>
      <input type="submit" text="submit">
    </form>
  </div>

</body>
</html>